/* _lcid="1033" _version="14.0.4762"
_LocalBinding */
.jsgrid-control-text
{
padding-left:4px;
}
.jsgrid-control-text-rtl
{
padding-right:4px;
}
.jsgrid-control-editbox
{
border:0px;
padding:2px 4px 2px 4px;
overflow:hidden;
z-index:1;
}
.jsgrid-widget-dock
{
border:1px solid #A8ABAF;
background-color:#E3E6E8;
height:20px;
position:absolute;
cursor:pointer;
z-index:1;
}
.jsgrid-widget-cell
{
overflow:hidden;
padding:2px;
float:left;
height:16px;
width:16px;
top:0px;
position:absolute;
}
.outer-scroll-bar
{
position:relative;
background-color:#E6E8EB;
top:0px;
left:0px;
}
.inner-scroll-bar
{
border-right:1px solid #F8F9F9;
border-left:1px solid #F5F6F7;
border-top:1px solid #F5F6F7;
border-bottom:1px solid #F5F6F7;
background-color:#F0F0F0;
position:relative;
top:1px;
left:1px;
}
.scroll-bar-cell
{
border:1px solid #F6F6F6;
background-color:#D5DDED;
}
.scroll-bar-inner-arrow-cell
{
border:1px solid transparent;
}
.scroll-bar-arrow-cell
{
border:1px solid transparent;
position:absolute;
top:0px;
left:0px;
}
.scroll-bar-outer-box
{
border:1px solid #A3A6AB;
background-color:#EEEFF2;
position:absolute;
top:0px;
left:0px;
}
.scroll-bar-background-main
{
background-color:#F2F3F5;
}
.scroll-bar-background-shade
{
background-color:#EDEEF0;
}
.scroll-bar-inner-box-main
{
background-color:#DBDFE5;
}
.scroll-bar-inner-box-shade
{
background-color:#E5E8EC;
}
.scroll-bar-arrow
{
border:0px;
padding:0px;
text-align:center;
vertical-align:top;
}
.scroll-bar-grip
{
position:absolute;
top:0px;
left:0px;
border-color:#A7AAAF;
background-color:#FEFEFE;
}
.horiz-scroll-bar-inner-box-main
{
}
.horiz-scroll-bar-inner-box-shade
{
}
.horiz-scroll-bar-bg-block
{
float:left;
height:100%;
}
.horiz-scroll-bar-arrow-cell
{
top:-2px;
}
.horiz-scroll-bar-outer-box
{
top:-1px;
}
.horiz-scroll-bar-grip
{
border-left:1px solid;
height:5px;
width:1px;
}
.vert-scroll-bar-inner-box-main
{
float:right;
}
.vert-scroll-bar-inner-box-shade
{
float:left;
}
.vert-scroll-bar-background-main
{
float:right;
}
.vert-scroll-bar-background-shade
{
float:left;
}
.vert-scroll-bar-arrow-cell
{
left:-2px;
}
.vert-scroll-bar-outer-box
{
left:-1px;
}
.vert-scroll-bar-grip
{
border-top:1px solid;
height:1px;
width:5px;
}
.jsgrid-gantt-vert-delim
{
position:absolute;
top:0px;
height:100%;
border-left-width:1px;
border-left-style:solid;
border-right-width:1px;
border-right-style:solid;
background:transparent;
}
.jsgrid-header-eyebrow
{
background-color:#E8EBF3;height:4px;cursor:pointer;
}
.jsgrid-header-content{
height:100%;
}
.jsgrid-header-core-content{
overflow:hidden;
text-overflow:none;
white-space:nowrap;
color:#2E4F69;
}
.jsgrid-header-core-img-content
{
overflow:hidden;
text-overflow:none;
white-space:nowrap;
color:#2E4F69;
}
.jsgrid-header-sort-arrow-div
{
height:6px;
padding-bottom:1px;
overflow:hidden;
cursor:move;
}
.jsgrid-header-menu
{
display:none;
height:100%;
cursor:pointer;
}
.jsgrid-header-filter-state
{
display:none;
height:100%;
cursor:pointer;
}
.jsgrid-header-expand
{
height:100%;
width:4px;
}
.jsgrid-error-notification{
color:#FF4810;
font-family:Tahoma;
font-size:8pt;
font-weight:normal;
text-align:left;
}
.jsgrid-vml
{
behavior:url(#default#vml);
position:absolute;
}
.combobox-placeholder
{
white-space:nowrap!important;
padding:0px!important;
}
.cb-textbox[dir="rtl"]
{
float:right;
}
.cb-textbox[dir="ltr"]
{
float:left;
}
.cb-textbox
{
background-color:#ffffff;
border-width:0px!important;
margin:0px!important;
}
.combobox-img
{
background-color:#ffffff;
padding:0px;
font-size:8px;
width:22px!important;
border-width:1px;
border-color:transparent;
}
.combobox-img:hover
{
background-color:#dcdfe1;
border-color:inherit;
}
.combobox-img:active,.combobox-img-active
{
background-color:#dcdfe1;
border-color:inherit;
}
.combobox-img[dir="rtl"]
{
float:right;
border-style:none solid none none;
text-align:right;
}
.combobox-img[dir="ltr"]
{
float:left;
border-style:none none none solid;
}
.combobox-icon[dir="ltr"]
{
margin-left:3px;
}
.combobox-icon[dir="rtl"]
{
margin-right:3px;
}
.listbox-panel,.combobox-dropdown
{
background-color:#ffffff;
border:1px solid #bfc8cd;
overflow:hidden;
}
.listbox-hidden-input
{
position:fixed;
top:-2000px;
width:1px;
height:1px;
overflow:hidden;
}
.combobox-dropdown
{
position:relative;
height:20em;
left:0px;
clear:both;
}
html>body .combobox-dropdown
{
height:auto;
max-height:300px;
}
.combobox-panel-table
{
cursor:default;
border:0px none!important;
padding:0px!important;
width:100%;
}
.cb-dp-highlight
{
background-color:Highlight;
color:HighlightText;
}
.cb-dp-rw:hover
{
background-color:#dbdddf;
}
.combobox-dropdown-celldiv
{
overflow:hidden;
border:0px;
margin:0px;
padding:4px 4px 4px 4px;
}
.cb-dp-celldiv-first
{
padding-left:8px;
}
.cb-dp-celldiv-last
{
padding-right:8px;
}
.combobox-dropdown-celldiv[dir="ltr"]
{
text-align:left;
}
.combobox-dropdown-celldiv[dir="rtl"]
{
text-align:right;
}
.combobox-dropdown-cell,.combobox-dropdown-hdrcell
{
border-right:1px solid #bfc8cd;
margin:0px;
padding:0px;
}
.cb-td-rtl
{
border-right-style:none;
border-left:1px solid #bfc8cd;
}
.combobox-dropdown-imghdrcell,.combobox-dropdown-hdrcell
{
border-bottom:1px solid #bfc8cd;
background-color:#edf0f2;
font-weight:bold;
}
.combobox-dropdown-imghdrcell,.combobox-dropdown-imgcell
{
width:10px;
margin:0px;
padding:2px 0px 2px 4px;
}
.combobox-dropdown-foot
{
border-top:1px solid #bfc8cd;
}
.combobox-headerwrapper,.combobox-tablewrapper
{
background-color:transparent;
z-index:1!important;
width:100%;
border-width:0px;
margin:0px;
}
html>body .combobox-headerwrapper,html>body .combobox-tablewrapper
{
width:auto;
}
.combobox-headerwrapper
{
overflow:hidden;
}
.combobox-tablewrapper
{
overflow:auto;
}
.combobox-link,.cb-progress-text,.cb-retry-text,.cb-err-link
{
font-family:Segoe UI,Tahoma,Verdana;
font-size:8pt;
color:#444444;
}
.combobox-link
{
background-color:#f0f2f5;
border-top:1px solid #bfc8cd;
display:none;
height:12px;
padding-top:4px;
padding-bottom:4px;
}
.cb-err-link,.combobox-link
{
color:#0072bc;
padding-left:8px;
}
.combobox-link[dir="ltr"]
{
text-align:left;
}
.combobox-link[dir="rtl"]
{
text-align:right;
}
.cb-progress-text
{
padding-left:12px;
white-space:nowrap;
}
.cb-progress-cell,.cb-retry-cell
{
text-align:center;
padding-top:17px;
padding-bottom:17px;
}
.cb-progress-cell
{
line-height:24px;
}
.cb-progress-img
{
vertical-align:middle;
}
.clip6x9,.clip9x6,.clip11x11,.clip13x13,.clip16x16{position:relative;overflow:hidden;}.clip6x9{width:6px;height:9px;}.clip9x6{width:9px;height:6px;}.clip11x11{width:11px;height:11px;}.clip13x13{width:13px;height:13px;}.clip16x16{width:16px;height:16px;}.clip6x9 img,.clip6x9 input,.clip9x6 img,.clip9x6 input,.clip11x11 img,.clip11x11 input,.clip13x13 img,.clip13x13 input,.clip16x16 img,.clip16x16 input{position:absolute;margin:0;padding:0;width:auto;height:auto;}.jsgridcluster_editheader{top:0;left:0;}.jsgridcluster_newrowheader{top:0;left:-16px;}.jsgridcluster_conflictheader{top:-16px;left:0;}.jsgridcluster_transferheader{top:-16px;left:-16px;}.jsgridcluster_cell-error{top:0;left:-32px;}.jsgridcluster_jsgrid-header-filter-icon{top:-16px;left:-32px;}.jsgridcluster_scrollbar-mousein-rightarrow{top:-32px;left:0;}.jsgridcluster_scrollbar-mousein-downarrow{top:-32px;left:-6px;}.jsgridcluster_scrollbar-mousein-uparrow{top:-32px;left:-15px;}.jsgridcluster_scrollbar-mousein-leftarrow{top:-32px;left:-24px;}.jsgridcluster_scrollbar-mouseout-rightarrow{top:-27px;left:-32px;}.jsgridcluster_scrollbar-mouseout-uparrow{top:-27px;left:-38px;}.jsgridcluster_scrollbar-mouseout-downarrow{top:-33px;left:-38px;}.jsgridcluster_scrollbar-mouseout-leftarrow{top:-41px;left:0;}.jsgridcluster_jsgrid-up-arrow{top:-38px;left:-6px;}.jsgridcluster_jsgrid-down-arrow{top:-44px;left:-6px;}
