<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
    <table width="100%">
            <tr>
                <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                    Assets
                </td>
            </tr>
         </table>
     
     <table width="100%">
        <tr>
            <td valign=top>
            
                <table width="100%" class="tableStyle">
                    
                    <tr align="center" class="tableHeaderStyle">
                        <td width="60%"><b>Cash &amp; Equivalents</b></td>
                        <td width="20%"><b>Cash (SGD)</b></td>
                        <td width="20%"><b>CPF (SGD)</b></td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>Bank Account</td>
                        <td align="right">$ [bankAcctCash]</td>
                        <td></td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>CPF-OA Balance</td>
                        <td></td>
                        <td align="right">$ [cpfoaBal]</td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>CPF-SA Balance</td>
                        <td></td>
                        <td align="right">$ [cpfsaBal]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>CPF Medisave Balance</td>
                        <td></td>
                        <td align="right">$ [cpfMedisaveBalance]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>SRS Balance</td>
                        <td align="right">$ [srsBal]</td>
                        <td></td>
                    </tr>

                    <tr align="center" class="tableHeaderStyle">
                        <td width="60%"><b>Invested Assets</b></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>Stocks &amp; Shares</td>
                        <td align="right">$ [stocksSharesCash]</td>
                        <td align="right">$ [stocksSharesCpf]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>Unit Trusts</td>
                        <td align="right">$ [unitTrustsCash]</td>
                        <td align="right">$ [unitTrustsCpf]</td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>Investment Linked Policies</td>
                        <td align="right">$ [ilpCash]</td>
                        <td align="right">$ [ilpCpf]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>SRS</td>
                        <td align="right">$ [srsInvCash]</td>
                        <td></td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>Investment Properties</td>
                        <td align="right">$ [invPropCash]</td>
                        <td align="right">$ [invPropCpf]</td>
                    </tr>
                    <tr class="evenRowStyle">
						<td>Others:</td>
                        <td align="right"></td>
                        <td align="right"></td>
					</tr>
					[othersInvestedAssets]

                    <tr align="center" class="tableHeaderStyle">
                        <td width="60%"><b>Personal Use Assets</b></td>
                        <td width="20%"></td>
                        <td width="20%"></td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td>Residential Property</td>
                        <td align="right">$ [resPropCash]</td>
                        <td align="right">$ [resPropCpf]</td>
                    </tr>
                    <tr class="evenRowStyle">
						<td>Others:</td>
                        <td align="right"></td>
                        <td align="right"></td>
					</tr>
					[othersPersonalUse]
                    <tr class="totalRowStyle">
                        <td><b>TOTAL ASSETS</b></td>
                        <td align="right"><b>$ [totalAssetsCash]</b></td>
                        <td align="right"><b>$ [totalAssetsCpf]</b></td>
                    </tr>
                    
                </table>
                
            </td>
        </tr>
        </table>
		
        <table width="100%" cellpadding="2">
            <tr>
                <td width="60%" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                    Liabilities
                </td>
				<td width="40%" align="right" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
					<b>SGD</b>
				</td>
            </tr>
         </table>
		 <table width="100%">
        <tr>
            <td valign="top">            
            <table width="100%">                    
                    <tr class="oddRowStyle">
                        <td width="60%">Home Mortgage</td>
                        <td width="40%" align="right">$ [homeMortgage]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td width="60%">Vehicle Loan</td>
                        <td width="40%" align="right">$ [vehicleLoan]</td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td width="60%">Cash Loan</td>
                        <td width="40%" align="right">$ [cashLoan]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td width="60%">Credit Card</td>
                        <td width="40%" align="right">$ [creditCard]</td>
                    </tr>
                    <tr class="oddRowStyle">
                        <td width="60%">Others:</td>
                        <td width="40%" align="right"></td>
                    </tr>
					[othersLiabilities]
                    <tr class="totalRowStyle">
                        <td width="60%"><b>TOTAL LIABILITIES</b></td>
                        <td width="40%" align="right"><b>$ [totalLiabilitiesOthers]</b></td>
                    </tr>
                    </table>
				    <br/>
                    <table width="100%">
                        <tr class="borderRow">
                            <td>
                                <table width="100%">
					                <tr>
						                <td class="noBorderRow" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
							                Net Worth (Assets - Liabilities)
						                </td>
						                <td class="noBorderRow" align="right">
							               <b>$ [netWorth]</b>
						                </td>
					                </tr>
				                 </table>
                            </td>
                        </tr>
                    </table>
                      
                <table width="100%" cellpadding="2">
					<tr>
						<td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
							Free Funds For Planning
						</td>
					</tr>
				 </table>    
                    <table width="100%">
                    <tr align="center" class="tableHeaderStyle">
                        <td></td>
                        <td align="center"><b>Cash (SGD)</b></td>
                        <td align="center"><b>CPF (SGD)</b></td>
                    </tr>                    
                    <tr class="oddRowStyle">
                        <td>Regular Sum (per year)</td>
                        <td align="right">$ [regularSumCash]</td>
                        <td align="right">$ [regularSumCpf]</td>
                    </tr>
                    <tr class="evenRowStyle">
                        <td>Lump Sum</td>
                        <td align="right">$ [lumpSumCash]</td>
                        <td align="right">$ [lumpSumCpf]</td>
                    </tr>

                </table>
                
            </td>
        </tr>
     </table>
</td>
    </tr>
</table>
