<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%"> 
        <table width="100%">
            <tr>
                <td>
                    <b>Important notice to client on completion of Customer Knowledge Assessment:</b> The purpose of the Customer Knowledge Assessment (CKA) is to assess if you have the relevant knowledge or experience to understand the features and associated risk of an Unlisted Specific Investment Product, such as Collective Investment Scheme (CIS) or Investment Linked Policy (ILP).
                        <br />
                        If you satisfy any of the CKA criteria, you are deemed to possess the knowledge or experience in a CIS or an ILP. However, if you do not wish to receive advice or accept the representative's recommendations <br />
                        (i)it is your responsibility to ensure the suitability of the CIS or ILP selected and (ii) you will not be able to rely on section 27 of the FAA to file a civil claim in the event you allege you have suffered a loss and (iii) your request to transact in the CIS or ILP will be subjected to the Company's senior management's review and approval.
                        Any inaccurate or incomplete information provided by you may affect the assessment outcome and the suitability of the the product recommended, if any.
                </td>
            </tr>
        </table>
        <table width="100%">
            <tr class="sectionTitleStyle">
                <td align="left"><b>Customer Knowledge Assessment</b></td>
            </tr>            
        </table>
        <table width="100%" >
             <tr valign="top" class="oddRowStyle">
                <td colspan="2" align="left">
                    <b>Education / Professional Qualification</b>
                </td>
             </tr>   
             <tr valign="top" class="evenRowStyle">
                <td width="90%">
                    Do you have a Diploma or higher qualifications in any of the following?<br />
                    <span style="font-size:6pt;"><i>Type of Qualification: Accountancy, Actuarial Science, Business; Business Administration; Business Management; Business Studies; Capital Markets; Computational Finance; Commerce; Economics; Finance; Financial Engineering; Financial Planning; Insurance; CFA or ACCA</i></span>
[A6Reason]
                </td>
                <td width="10%" align="center">[A6]</td>                
             </tr>
             <tr valign="top" class="oddRowStyle">
                <td colspan="2" align="left">
                    <b>Investment Experience</b>
                </td>
             </tr>   
             <tr valign="top" class="evenRowStyle">
                <td width="90%">
                    Have you transacted in collective investment schemes<br />
                    (e.g. unit trusts) or investment-linked life insurance policies (ILPs) <b> at least 6 times </b> in the<b> preceding 3 years?</b>
[A4Reason]
                </td>
                <td width="10%" align="center">[A4]</td>                
             </tr>  
             <tr valign="top" class="oddRowStyle">
                <td colspan="2" align="left">
                    <b>Working Experience</b>
                </td>
             </tr>   
             <tr valign="top" class="evenRowStyle">
                <td width="90%">
                    Do you have at least 3 consecutive years of working experience in any of the following for the last 10 years?<br />
                    <span style="font-size:6pt;"><i>Type of Work Experience: Accountancy, Actuarial Science, Treasury, Financial Risk Management, Provision of legal advice in the areas relating to the development, structuring, management, training, sale, trading, research on and analysis of investment products</i></span>
[A5Reason]
                </td>
                <td width="10%" align="center">[A5]</td>                
             </tr>
             </table>
             <br />

             <table width="100%">
            <tr class="sectionTitleStyle">
                <td align="left"><b>Outcome Of Customer Knowledge Assessment</b></td>
            </tr>            
        </table>
        <table width="100%" cellpadding="2">             
             <tr valign="middle">
                <td width="10%">[A7]</td>
                <td width="90%">
                     I have met the Customer Knowledge Assessment criteria and am deemed to possess the knowledge or experience for transactions in a Collective Investment Scheme or an Investment Linked Policy.
                </td>
             </tr>
             <tr valign="middle">
                <td width="10%">[A8]</td>
                <td width="90%">
                     I have not met the Customer Knowledge Assessment criteria and am deemed not to possess the knowledge or experience for transactions in a Collective Investment Scheme or an Investment Linked Policy.
                </td>
             </tr>
         </table>
</td>
    </tr>
</table>