<table width="100%">
    <tr>
    <td width="8%">&nbsp;</td>        
	<td width="92%">
            <br />
            <table width="100%" cellpadding = "2" cellspacing = "0">
                <tr class="tableHeaderStyle">
                    <td width="13%" align = "center"> </td>                    
		            <td width="28%" align = "center">Needs</td>
                    <td width="15%" align = "center">Amount Required (SGD)</td>
                    <td width="15%" align = "center">Existing Arrangements (SGD)</td>
                    <td width="18%" align = "center">Current <br />(-)Shortfall/<br />(+)Surplus(SGD)</td>
		            <td width="10%" align = "center">My Priorities</td>
                </tr>
                [gapSummaryTable]
            </table>
    </td>
    </tr>
</table>