<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
    <table width="100%">
        <tr class="sectionTitleStyle">
            <td><b>An Important Notice To You</b></td>
        </tr>
    </table>
    
    <table width="100%" cellpadding="0" cellspacing="0" class="simpletableStyle">    
        <tr>
            <td>Your Zurich Adviser is a representative of Zurich Life Singapore, which is an exempt Financial Adviser under the Financial Advisers Act (Cap110). Zurich Life Singapore is authorized to arrange and advise on life, accident and health and investment-linked insurance contracts provided by it and other insurance providers who it may partner from time to time.</td>
        </tr>
        <tr>
            <td><br />Your Zurich Adviser is authorized to arrange and provide advice on the following products:</td>
        </tr>
        <tr>
            <td>
                <br />
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="5%">[ticklifeins]</td>
                        <td>Life Insurance and Investment-Linked Products</td>
                    </tr>
                    <tr>
                        <td width="5%">[tickcritical]</td>
                        <td>Critical Illness, Hospital Income Benefit</td>
                    </tr>
                    <tr>
                        <td width="5%">[tickhospsurg]</td>
                        <td>Hospital and Surgical Plans, Disability Income Plans, Long-Term Care Plans</td>
                    </tr>
                    <tr>
                        <td width="5%">[tickothers]</td>
                        <td>Others (please specify)</td>
                    </tr>
                    <tr>
                        <td width="5%"></td>
                        <td>[otherstxt]</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><br /><b>Policies and/or financial products purchased without the completion of the Z Plan, or following partial or inaccurate completion, may not be appropriate for your needs.</b></td>
        </tr>
        <tr>
            <td><br />Completion of the Z Plan will enable your Zurich Adviser to obtain information to conduct an overall needs analysis and to offer you suitable advice to address your core wealth needs and lifestyle goals. We would like to assure you that any information you provide will be treated with strictest confidence.</td>
        </tr>       
    </table>
</td>
    </tr>
</table>