<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
            <table width="100%">
                <tr>
                    <td>
                        The information shown contains confidential and proprietary information of Mercer. Any information, opinion, projections and/or ratings expressed or provided is not a guarantee as to the future performance o the investment products/portfolio, asset classes or capital markets discussed. The information takes into account past information which may not be a reliable indicator of future returns. It is only provided to illustrate the potential risk and returns of each customer risk profile. It is intended for your general reference only, and it is not to be intended to be investment advice. Neither Mercer, Zurich Life Singapore or your Zurich Adviser accepts any responsibility or liability in connection with your use of such information.
                    </td>
                </tr>
            </table>
            <table width="100%">
                <tr class="sectionTitleStyle">
                    <td align="left"><b>RANGE OF RETURNS WITH CORE ASSETS</b></td>
                </tr>
                <tr>
                    <td>[PortFolioModelCoreImage]</td>
                </tr>
            </table>
         <br />

         <table width="100%">
                <tr class="sectionTitleStyle">
                    <td align="left"><b>CORE ASSETS</b></td>
                </tr>
                <tr>
                    <td>[coreAssetsImage]</td>
                </tr>
           </table>
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />
           <br />

         

         <table width="100%">
                <tr class="sectionTitleStyle">
                    <td align="left"><b>RANGE OF RETURNS WITH NON-CORE ASSETS</b></td>
                </tr>
                <tr>
                    <td>[PortFolioModelNonCoreImage]</td>
                </tr>
            </table>
            <br />

            <table width="100%">
                <tr class="sectionTitleStyle">
                    <td align="left"><b>NON CORE ASSETS</b></td>
                </tr>
                <tr>
                    <td>[nonCoreAssetsImage]</td>
                </tr>
           </table>
</td>
    </tr>
</table>