
<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
        <table width="100%">
            <tr class="sectionTitleStyle">
                <td align="left"><b>My Needs</b></td>
                <td align="left"><b>Order Of Priority</b></td>
            </tr>
             <tr class="oddRowStyleNoBorder">
                <td colspan="2"><b>Step 1 : Liquidity</b></td>
             </tr>
             <tr>
                <td colspan="2">Emergency Funds</td>
             </tr>
             <tr>
                <td colspan="2">Short-term Goals (less than 1 year)</td>
             </tr>

             <tr><td colspan="2">&nbsp;</td></tr>
             <tr><td colspan="2">&nbsp;</td></tr>

             <tr class="oddRowStyleNoBorder">
                <td colspan="2"><b>Step 2 : Protection</b></td>
             </tr>
             <tr>
                <td>Insuring My Mortgage</td>
                <td>[priorityNeed1]</td>
             </tr>
	     <tr>
                <td>Insuring my Hospitalisation Expenses</td>
                <td>[priorityNeed8]</td>
             </tr>
             <tr>
                <td>Protection Against Critical Illnesses</td>
                <td>[priorityNeed2]</td>
             </tr>
             <tr>
                <td>Protection Against Pre-mature Death</td>
                <td>[priorityNeed3]</td>
             </tr>	
             <tr>
                <td>Protection Against Disability</td>
                <td>[priorityNeed7]</td>
             </tr>
             <tr><td colspan="2">&nbsp;</td></tr>
             <tr><td colspan="2">&nbsp;</td></tr>

             <tr class="oddRowStyleNoBorder">
                <td colspan="2"><b>Step 3 : Savings</b></td>
             </tr>
             <tr>
                <td>What I Need At Retirement</td>
                <td>[priorityNeed4]</td>
             </tr>
             <tr>
                <td>What My Children Need for Education</td>
                <td>[priorityNeed5]</td>
             </tr>
             <tr>
                <td>What I Need for My Long-term Goals</td>
                <td>[priorityNeed6]</td>
             </tr>

         </table>
		<br />
		<div style="font-size:6pt;font-weight:bold;"></div><b>* Order of 1 (most important) to 8 (least important)</b>
</td>
    </tr>
</table>