<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
        <table width="100%">
            <tr>
                <td>
                   <table width="100%" cellpadding="0">
                    <tr>
                        <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                            &nbsp;Family Income Protection
                        </td>
				        <td align="right" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
					        <b>SGD</b>&nbsp;
				        </td>
                    </tr>
                 </table>                   
                </td>
            </tr>
        </table>
		
        <table width="100%" >
            <tr>
                <td width="100%" valign="top">
                    <table width="100%">
                        <tr>
                            <td width="100%" valign=top> <!-- left panel -->
                                    <table width="100%" >                                          
                                        <tr>
                                            <td>Do you require planning for this need?&nbsp;&nbsp;&nbsp;&nbsp;[familyIncNeeded]</td>
                                            <td></td>
                                        </tr>
                                        <tr class="oddRowStyle">
                                            <td>Replacement Income Required</td>
                                            <td align=right>$ [replacementIncomeRequired]&nbsp;</td>                                    
                                        </tr>
                                        <tr class="evenRowStyle">
                                            <td>Years of Support Required</td>
                                            <td align="right">[yearsOfSupportRequired]&nbsp;&nbsp;years&nbsp;</td>
                                        </tr>
                                        <tr class="oddRowStyle">
                                            <td>Inflation Adjusted Returns </td>
                                            <td align="right">[inflationAdjustedReturns]&nbsp;&nbsp;%&nbsp;</td>
                                        </tr>
                                        <tr class="evenRowStyle">
                                            <td><b>Lump Sum Required</b></td>
                                            <td align="right"><b>$ [lumpSumRequired]&nbsp;</b></td>
                                        </tr>
                                        <tr class="oddRowStyle">
                                            <td>Other Liabilities </td>
                                            <td align="right"><table width="100%" class="tableStyle"><tr><td align="left" class="oddRowStyleNoBorder">Add:</td><td align="right"  class="oddRowStyleNoBorder">$ [otherLiabilities]</td></tr></table></td>
                                        </tr>
                                        <tr class="evenRowStyle">
                                            <td>Emergency Funds Needed </td>
											<td align="right">
                                            <table width="100%" class="tableStyle">
                                            <tr><td align="left" class="evenRowStyleNoBorder">Add:</td>
                                            <td align="right"  class="evenRowStyleNoBorder">$ [emergencyFundsNeeded]</td>
                                            </tr></table>
                                            </td>                                
                                        </tr>
                                        <tr class="oddRowStyle">
                                            <td>Final Expenses </td>
											<td align="right"><table width="100%" class="tableStyle"><tr><td align="left" class="oddRowStyleNoBorder">Add:</td><td align="right"  class="oddRowStyleNoBorder">$ [finalExpenses]</td></tr></table></td>                              
                                        </tr>
                                        <tr class="evenRowStyle">
                                            <td>Other Funding Needs <i>(please specify) <u>[otherComments]</u></i></td>
											<td align="right"><table width="100%" class="tableStyle"><tr><td align="left" class="evenRowStyleNoBorder">Add:</td><td align="right"  class="evenRowStyleNoBorder">$ [otherFundingNeeds]</td></tr></table></td>                                   
                                        </tr>
                                        <tr class="oddRowStyle">
                                            <td><b>Total Required</b></td>
                                            <td align="right"><b>$ [totalRequired]&nbsp;</b></td>
                                    
                                        </tr>
                                        <tr class="evenRowStyle">
                                            <td>Existing Life Insurance </td>
											<td align="right"><table width="100%" class="tableStyle"><tr><td align="left" class="evenRowStyleNoBorder">Less:</td><td align="right"  class="evenRowStyleNoBorder">$ [existingLifeInsurance]</td></tr></table></td>                                     
                                        </tr>
										<tr class="oddRowStyle">
                                            <td>Existing Assets:</td>
											<td align="right">&nbsp;</td>
                                        </tr>
										[eafamilyneeds]
										<tr class="totalRowStyle">
                                            <td><span style="color:[shortfallSurplusColour]"><b>[shortfallSurplus]</b></span></td>
                                            <td align="right"><span style="color:[shortfallSurplusValueColour]"><b>$ [totalShortfallSurplus]&nbsp;</b></span></td>                                    
                                        </tr>                                                                                                               
                                    </table>
                            </td>                        
                        </tr>
			</table>
            <br />
			<table width="100%">
				<tr>
                <td>
                <table width=100%>
                <tr>
                <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
						&nbsp;Mortgage Protection
					</td>
					<td align="right" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
						<b>SGD</b>&nbsp;
					</td>
                </tr>
                
                </table>
                </td>
				</tr>
			 </table>  
			 <table width="100%" >
                        <tr>
                            <td colspan="2">                            
                                <table width="100%" >
                                    <tr>
                                        <td >
                                            <table width="100%" >
                                                <tr>
                                                    <td>Do you require planning for this need?&nbsp;&nbsp;&nbsp;&nbsp;[mortgageNeeded]</td>
                                                    <td></td>
                                                </tr>
                                                <tr class="oddRowStyle">
                                                    <td>Mortgage Outstanding </td>
                                                    <td align="right">$ [mortgageOutstanding]</td>
                                                </tr>
                                                <tr class="evenRowStyle">
                                                    <td>Mortgage Insurances </td>
													<td align="right"><table width="100%" class="tableStyle"><tr><td align="left" class="evenRowStyleNoBorder">Less:</td><td align="right"  class="evenRowStyleNoBorder">$ [mortgageInsurances]</td></tr></table></td>
                                                </tr>
                                                <tr class="totalRowStyle">
                                                    <td><span style="color:[shortfallSurplusmgColour]"><b>[mortgageProtectionShortfallSurplus]</b></span></td>
                                                    <td align="right"><span style="color:[shortfallSurplusmgColour]"><b>$ [mortgageInsurancesTotal]&nbsp;</b></span></td>
                                                </tr>                            
                                            </table>
                                        </td>                                   
                                                                      
                                    </tr>                            
                                </table>  
                            </td>
                        </tr>
                    </table>
				</td>
            </tr>
        </table>
</td>
    </tr>
</table>