<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
        <table width="100%">
            <tr class="sectionTitleStyle">
                <td align="left"><b>Section A: Measuring Risk Appetite</b></td>
                <td align="right"><b>Total Score: [totalRiskProfileScoreRiskAppetite]</b></td>
            </tr>            
        </table>
        
  
        <table width="100%" >

             <tr>
                <td colspan="2" height="20px" align="left">
                    This questionnaire and the strategic asset allocation models are provided by Zurich Life Singapore based on research conducted by Mercer (Singapore) Pte Ltd. ("Mercer"). The results of this questionnaire and the strategic assets allocation models are derived from information that you have provided to Zurich Life Singapore, and only serve as a reference for your consideration when making your own investment decision. This questionnaire and the results are not an offer to sell or a solicitation for an offer to buy any financial products and services that they should not be considered as investment advice. Zurich Life Singapore and Mercer accept no responsibility or liability as to the accuracy or completeness of the information given in the questionnaire or the results derived therefrom.
                </td>
             </tr>
             <tr>
                <td width="5%">1. </td>
                <td width="95%"> 
                    <b>The graph below shows the hypothetical results of 5 sample portfolios over a one-year period. The 
                    potential gains and losses of each portfolio are presented.</b>  
                </td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%" align="left"><img src="[imagePath]"  width="300px" height="177px" alt="Risk Profile Static Chart"/></td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%" align="left">* The return ranges are for illustration only</td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%"><b>Which portfolio would you prefer to hold?</b></td>
             </tr>
             <tr valign="top">
             <td width="5%"></td>
             <td width="95%">
              <table width="100%" cellpadding="2">
                <tr valign="middle">
                    <td width="5%">[q1A1]</td>
                    <td width="95%">None of the above, because I cannot accept any loss of my capital.</td>                    
                </tr>
                <tr valign="middle">
                    <td width="5%">[q1A2]</td>
                    <td width="95%">Portfolio A</td>                    
                </tr>
                 <tr valign="middle">
                    <td width="5%">[q1A3]</td>
                    <td width="95%">Portfolio B</td>                    
                 </tr>
                 <tr valign="middle">
                    <td width="5%">[q1A4]</td>
                    <td width="95%">Portfolio C</td>
                 </tr>
                 <tr valign="middle">
                    <td width="5%">[q1A5]</td>
                    <td width="95%">Portfolio D</td>
                 </tr>
                 <tr valign="middle">
                    <td width="5%">[q1A6]</td>
                    <td width="95%">Portfolio E</td>                    
                 </tr>
              </table>                    
              </td>
             </tr>
             <tr valign="top">
                <td width="5%">2. </td>
                <td width="95%"><b>What would you do if your long term investment drops by more than 20% over a short period of time?</b></td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table width="100%" cellpadding="2">
                    <tr valign="middle">
                        <td width="5%">[q2A1]</td>
                        <td width="95%">Sell the whole investment – I wouldn’t want to lose any more money.</td>                        
                    </tr>
                     <tr valign="middle">
                        <td width="5%">[q2A2]</td>
                        <td width="95%">Sell part of the investment – it could go back up, but I don’t want to risk everything just in case it doesn’t.</td>
                    </tr>
                    <tr valign="middle">
                        <td width="5%">[q2A3]</td>
                        <td width="95%">Hold the investment – it’s likely that it will increase in value again soon.</td>                        
                    </tr>
                    <tr valign="middle">
                        <td width="5%">[q2A4]</td>
                        <td width="95%">Hold the investment and buy more while the value is low – when the value goes up, I’ll make a good return.</td>                        
                    </tr>
                    </table>
                </td>
             </tr>

            </table>
              <br />
              <br />
              <br />
              
            <table width="100%" >
             <tr valign="top">
                <td width="5%">3. </td>
                <td width="95%"><b>What is the riskiest asset that you would consider investing in the future?</b></td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table cellpadding="2">
                        <tr valign="middle">
                            <td width="5%">
                                [q3A1]
                            </td>
                            <td width="95%">Savings account, time deposits and money market instruments
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q3A2]
                            </td>
                            <td width="95%">Bonds and bond funds
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q3A3]
                            </td>
                            <td width="95%">Stocks and equity mutual funds
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q3A4]
                            </td>
                            <td width="95%">Non-guaranteed structured products like equity linked notes
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q3A5]
                            </td>
                            <td width="95%">Options, futures, warrants
                            </td>                            
                        </tr>
                    </table>
                </td>
             </tr>
             <tr valign="top">
                <td width="5%">4. </td>
                <td colspan="2"><b>How would you describe your investment preference?</b>
                </td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>                
                <td width="95%">
                    <table>
                        <tr valign="middle">
                            <td width="5%">
                                [q4A1]
                            </td>
                            <td width="95%">I prefer an investment that has little fluctuations in value, i.e., an investment with minimal chance of losing money.</td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q4A2]
                            </td>
                            <td width="95%">I have a long-term investment focus and will ride out the good times and the bad times.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q4A3]
                            </td>
                            <td width="95%">I actively trade investments in the short-term to take advantage of short-term market movements.
                            </td>                           
                        </tr>
                    </table>
                 </td>
             </tr>
             </table>
             <br />

             <table width="100%">
                <tr class="sectionTitleStyle">
                    <td align="left"><b>Section B: Measuring Risk Taking Ability</b></td>
                    <td align="right"><b>Total Score: [totalRiskProfileScoreRiskTakingAbility]</b></td>
                </tr>            
            </table>
            <table width="100%" >  
            <tr valign="top">
                <td width="5%">5. </td>
                <td width="95%"><b>Which of the following statements most accurately describe your current situation?</b>
                </td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table>
                        <tr valign="middle">
                            <td width="5%">
                                [q5A1]
                            </td>
                            <td width="95%">My income is lower than my on-going expenses.
                            </td>
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q5A2]
                            </td>
                            <td width="95%">My income is approximately the same as my on-going expenses.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q5A3]
                            </td>
                            <td width="95%">My income is higher (&lt;= 30%) than my on-going expenses.</td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q5A4]
                            </td>
                            <td width="95%">
                                My income is significantly higher (>30%) than my on-going expenses.<br />
                                <span style="font-size:6pt">(On-going expenses exclude large one-time expense such as car purchase or home renovation expenses.)</span>
                            </td>                            
                        </tr>
                    </table>
                 </td>
             </tr>
             <tr valign="top">
                <td width="5%">6. </td>
                <td width="95%"><b>How many years are you away from your retirement?</b></td>
             </tr>            
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table>
                        <tr valign="middle">
                             <td width="5%">
                                [q6A1]
                            </td>
                            <td width="95%"> &lt; 5 years or already retired
                            </td>                           
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q6A2]
                            </td>
                            <td width="95%"> 5 – 10 years
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q6A3]
                            </td>
                            <td width="95%"> > 10 years
                            </td>                            
                        </tr>
                    </table>
                 </td>
             </tr>
             <tr valign="top">
                <td width="5%">7. </td>
                <td width="95%"><b>Which of the following statement best describes your investment needs?</b></td>
             </tr>
             <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table>
                        <tr valign="middle">
                            <td width="5%">
                                [q7A1]
                            </td>
                            <td width="95%">I need my investments to provide high level of income while maintaining stable value as I rely on my investments to support my current financial needs.</td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q7A2]
                            </td>
                            <td width="95%">I need my investments to provide high level of income with some capital growth to support my current and future financial needs.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q7A3]
                            </td>
                            <td width="95%">I am more concerned to achieve long-term growth as I need my investments to provide for my future financial needs.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q7A4]
                            </td>
                            <td width="95%">I do not rely on my investments to provide for my financial needs. The performance of my investments will not affect my standard of living negatively
                            </td>                            
                        </tr>
                    </table>
                 </td>
             </tr> 
             <tr valign="top">
                <td width="5%">8. </td>
                <td width="95%"><b>Is there a future financial need which will require you to liquidate more than 30% of your investments?</b></td>
             </tr>          
            <tr valign="top">
                <td width="5%"></td>
                <td width="95%">
                    <table>
                        <tr valign="middle">
                            <td width="5%">
                                [q8A1]
                            </td>
                            <td width="95%">Yes, the financial commitment will occur within the next 2 years.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                             <td width="5%">
                                [q8A2]
                            </td>
                            <td width="95%">Yes, the financial commitment will occur within the next 2 to 5 years
                            </td>                           
                        </tr>
                        <tr valign="middle">
                            <td width="5%">
                                [q8A3]
                            </td>
                            <td width="95%">Yes, the financial commitment will occur in more than 5 years’ time.
                            </td>                            
                        </tr>
                        <tr valign="middle">
                             <td width="5%">
                                [q8A4]
                            </td>
                            <td width="95%">No.
                            </td>                           
                        </tr>
                        </table>
                 </td>
             </tr>
         </table>
         <br />
         <br />
         <br />


         <table width="100%">
                        <tr class="borderRow">
                            <td>
                                <table width="100%" cellpadding="2">
					                <tr>
						                <td class="noBorderRow" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
							                Your Risk Profile Is
						                </td>
						                <td class="noBorderRow" align="right" style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
							               <b>[riskProfile]</b>
						                </td>
					                </tr>
				                 </table>
                            </td>
                        </tr>
                    </table>

         
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        
        <table width="100%">
            <tr class="sectionTitleStyle">
                <td align="left"><b>How Risk Profile is Calculated</b></td>
            </tr>    
            <tr>
                <td>[riskImage]</td>               
            </tr>        
        </table>
</td>
    </tr>
</table>