<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
<table width="100%">
            <tr>
                <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                    Myself
                </td>
            </tr>
         </table>
                    <table width="100%">
                    <tr class="oddRowStyle"><td>Title</td>
                    <td>
                    [title]
                    &nbsp; 
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Name</td>
                    <td>
                     [surname] [name]
                     </td>
                    </tr>                    
                    <tr class="oddRowStyle"><td>Gender</td>
                    <td>
                    [gender]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>NRIC/ Passport No.</td>
                    <td>
                        [passportnumber]
                    </td>
                    </tr>
                    <tr class="oddRowStyle"><td>Nationality</td>
                    <td>
                    [nationality]
                    </td>
                    </tr>
					<tr class="evenRowStyle"><td>Marital Status</td>
                    <td>
                    [maritalstatus]
                    </td>
                    </tr> 
                    <tr class="oddRowStyle"><td>Date of Birth (dd/mm/yyyy)</td>
                    <td>
                    [datepicker]
                    </td>
                    </tr>
					<tr class="evenRowStyle"><td>Smoker</td>
                    <td>
                    [isSmoker]
                    </td>
                    </tr>                                       
                    <tr class="oddRowStyle"><td>Residential Address</td>
                    <td>
                     [residentialAddress]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Employment Status </td>
                    <td>
                    [employmentStatus]
                    </td>
                    </tr>
                    <tr class="oddRowStyle"><td>Occupation </td>
                    <td>
                     [occupation]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Company Name </td>
                    <td>
                        [companyName]
                    </td>
                    </tr>
                    <tr class="oddRowStyle"><td valign="top">Contact No. </td>
                    <td>
                        [contactNumber] 
                        [contactNumberOffice]
                        [contactNumberHp]
                        [contactNumberFax]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Email Address</td>
                    <td>
                        [emailId]
                    </td>
                    </tr>
                    <tr class="oddRowStyle"><td>Highest Educational Level </td>
                    <td>
                    [educationalLevel]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Do you have any medical condition that requires regular attention from a doctor?</td>
                    <td>
                    [medicalCondition]
                    </td>
                    </tr>
                    <tr class="oddRowStyle"><td>If 'Yes', details of medical condition</td>
                    <td>
                    [medicalConditionDetails]
                    </td>
                    </tr>
                    <tr class="evenRowStyle"><td>Do you have a nominee for your CPF monies?</td>
                    <td>
                    [nominee]
                    </td>
                    </tr>
                    <tr class="oddRowStyle">
                    <td>
                    Do you have a will?
                    </td>
                    <td>
                    [isWill]
                    </td>
                    </tr>
		            </table>
	 	    <br />

                   <table width="90%">
                        <tr>
                            <td>
                                This information helps you to facilitate your planning for the financial needs of your dependants. Would you like your dependents(s) to be taken into consideration for the Needs Analysis and Recommendations(s)?
                            </td>
                        </tr>
                        <tr>
                            <td>
                                [FamilyDetailsRequired]
                            </td>
                        </tr>
                     </table>
                    
                    <table width="90%">
                        <tr>
                            <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                                Details Of My Family (e.g. Spouse, Children, Parents)
                            </td>
                        </tr>
                     </table>
                      
                      

                    <table width="100%">
                        <tr>
                            <td>
                            <fieldset>
                            <table width="100%">
                             <tr class="tableHeaderStyle">
                                <td align="center">Name</td>
                                <td align="center">Relationship</td>
                                <td align="center">Date of Birth</td>
                                <td align="center">Occupation</td>
                                <td align="center">Monthly Income</td>
                                <td align="center">No of Yrs to Support*</td>
                            </tr>
                            [members]
                            </table>
                        </fieldset>
                            </td>
                        
                        </tr>
                        <tr><td colspan="4">&nbsp;</td></tr>
                        <tr>
                         <td colspan="4">
                            <span style="font-size:8;">
                                *Years to Support: Son: to Age 25 | Daughter: to Age 22 | Male: to Age 83 | Female: to Age 88  <br />
								Based on financial planning practice, years to support for male and female are derived by adding 8 years to the average life expectancy
								age for male and female respectively.
                             </span>
                         </td>
                        </tr>
                    </table>
	            <br />
		    <table width="100%">
                        <tr>
                            <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                                Language Proficiency
                            </td>
                        </tr>
			<tr>
			    <td>
                                Conversant in Spoken Language
                            </td>
			</tr>
			<tr>
                            <td>				
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">				    
		                    <tr>
					<td width="2%"></td>
                		        <td width="5%">[tickSpokenEnglish]</td>
		                        <td>English</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickSpokenMandarin]</td>
                		        <td>Mandarin</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickhSpokenMalay]</td>
		                        <td>Malay</td>
		                    </tr>
				    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickhSpokenTamil]</td>
		                        <td>Tamil</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickSpokenOthers]</td>
		                        <td>Others (please specify)</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%"></td>
		                        <td>[othersSpokenTxt]</td>
		                    </tr>
                		</table>
                            </td>
                        </tr>
			<tr>
                            <td>
                                <br>Proficient in Written Language
                            </td>
                        </tr>
			<tr>
                            <td>				
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">				    
		                    <tr>
					<td width="2%"></td>
                		        <td width="5%">[tickWrittenEnglish]</td>
		                        <td>English</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickWrittenMandarin]</td>
                		        <td>Mandarin</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickWrittenMalay]</td>
		                        <td>Malay</td>
		                    </tr>
				    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickWrittenTamil]</td>
		                        <td>Tamil</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%">[tickWrittenOthers]</td>
		                        <td>Others (please specify)</td>
		                    </tr>
		                    <tr>
					<td width="2%"></td>
		                        <td width="5%"></td>
		                        <td>[othersWrittenTxt]</td>
		                    </tr>
                		</table>
                            </td>
                        </tr>
                     </table>
		     <br />
		     <table width="100%">
                        <tr>
                            <td style="font-size:10pt;font-family:Verdana;font-weight:bold;color:#003399;">
                                Client's Accompaniment
                            </td>
                        </tr>
                     </table>
		     <table width="100%">			
        		<tr class="evenRowStyle"><td>Would you like to be accompanied by a Trusted Individual?</td>
        			<td>
				[AccompanyQuestion]
                		</td>
        		</tr>                    
        		<tr class="oddRowStyle"><td>Name of Trusted Individual</td>
				<td>
				[TrustedIndividualName]
                		</td>
        		</tr>
        		<tr class="evenRowStyle"><td>Relationship to Client</td>
             			<td>
                        	[ClientRelationship]
                		</td>
        		</tr>
			<tr class="oddRowStyle"><td>NRIC No.</td>
				<td>
                    	[NRICAccompany]
                		</td>
        		</tr>			
		     </table>
		     <br />
		     <table width="100%">
                        <tr>
                            <td>
                                Note: It is recommended for you to be accompanied by a Trusted Individual if you belong to <br />
				<b>two of the following profile:</b> (i) Attained academic qualifications which are below GCE 'O' level, 'N' level certifications (ii) Not conversant in spoken or written English (iii) Age 62 and above
                            </td>
                        </tr>
                        <tr>
                            <td>
                               A “Trusted Individual” is a person who is/has:<br />
                               (i)At least aged 18; (ii) At least GCE ‘N’ or ‘O’ Level Certificate, or Equivalent Academic Qualification;(iii) Proficient in spoken or written English; and (iv) A person who has the trust of the Client.
                            </td>
                        </tr>
                     </table>
			
                    </td>
    </tr>
</table>