<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
        <table width="100%">
            <tr>
                <td align="left" class="sectionTitleStyle"><b>Before Retirement</b></td>
            </tr>
        </table>

    <table width="100%" cellpadding="2" cellspacing="0">
                        <tr>
                            <td colspan='2'>Do you require planning for this need?&nbsp;&nbsp;&nbsp;&nbsp;[retirementGoalNeeded]</td>
                            <td></td>
                        </tr>
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr class="oddRowStyle">
                            <td colspan='2'>Intended Retirement Age</td>
                            <td align="right">[intendedRetirementAge]</td>
                        </tr>
                        <tr class="evenRowStyle">
                            <td colspan='2'>Income Required Upon Retirement</td>
                            <td align="right">$ [incomeRequiredUponRetirement]</td>
                        </tr>
                        <tr class="oddRowStyle">
                            <td colspan='2'>Years to Retirement</td>
                            <td align="right">[yearsToRetirement] years</td>
                        </tr>
                        <tr class="evenRowStyle">
                            <td colspan='2'>Annual Inflation Rate</td>
                            <td align="right">[annualInflationRate] %</td>
                        </tr>
                        <tr class="oddRowStyle">
                            <td colspan='2'><b>Future Income Needed</b></td>
                            <td align="right"><b>$ [futureIncomeNeeded]</b></td> 
                        </tr>                        
                        <tr class="evenRowStyle">
                            <td colspan='2'>Sources of Income</td>
                            <td><table width="100%" class="tableStyle"><tr><td align="left" class="evenRowStyleNoBorder">Less:</td><td align="right" class="evenRowStyleNoBorder">$ [sourcesOfIncome]</td></tr></table></td>
                        </tr>
                        <tr class="oddRowStyle">
                        <td colspan='2'><b>Total (1st Year Income Needed)</b></td>
                        <td align="right"><b>$ [totalFirstYearIncomeNeeded]</b></td>
                        </tr>
    </table>
     <table width="100%">
        <tr>
            <td align="left" class="sectionTitleStyle"><b>At Retirement</b></td>
        </tr>
    </table>
    
    <table width="100%" cellpadding="2" cellspacing="0">
                        <tr class="oddRowStyle">
                        <td colspan='2'>Inflation Adjusted Return</td>
                        <td align="right">[inflationAdjustedReturn] %</td>
                        </tr>
                        <tr class="evenRowStyle">
                        <td colspan='2'>Duration of Retirement</td>
                        <td align="right">[durationOfRetirement] years</td>
                        </tr>
                        <tr class="oddRowStyle">
                        <td colspan='2'><b>Lump Sum Required at Retirement</b></td>
                        <td align="right"><b>$ [lumpSumRequiredAtRetirement]</b></td>
                        </tr>
                        <tr class="evenRowStyle">
                            <td colspan='2'>Existing Assets (Future Value)</td>
                            <td><table width="100%" class="tableStyle"><tr><td align="left" class="evenRowStyleNoBorder">Less:</td><td align="right"  class="evenRowStyleNoBorder">$ [existingAssets2]</td></tr></table></td>
                        </tr>
                        [earg]   
                        <tr class="oddRowStyle">
                        <td colspan='2'>Projected Maturity Value of Existing Insurance Policies</td>
                        <td><table width="100%" class="tableStyle"><tr><td align="left" class="oddRowStyleNoBorder">Less:</td><td align="right"  class="oddRowStyleNoBorder">$ [maturityValue2]</td></tr></table></td>
                        </tr>
                        <tr class="totalRowStyle">
                        <td colspan='2'><span style="color:[shortfallSurplusColour]"><b>[totallabel]</b></span></td>
                        <td align="right"><span style="color:[shortfallSurplusColour]"><b>$ [totalShortfallSurplus2]</b></span></td>
                        </tr>
    </table>
</td>
    </tr>
</table>
