<table width="100%">
    <tr>
        <td width="10%">&nbsp;</td>
        <td width="90%">
            <table width="100%">                
                <tr>
                    <td>[PortFolioBuilderImage]</td>
                </tr>
            </table>
	<table width="100%" cellpadding = "2" cellspacing = "0">           
            <tr class="oddRowStyle">
                <td width="60%">
                Your Risk Profile Based on Profile
                </td>
                <td width="40%" align="right">
                [riskProfile]
                </td>
            </tr>
            [PrefferedRiskProfile]
            <tr class="oddRowStyle">
                <td width="60%">
                I have agreed to follow the portfolio recommended based on my Risk Profile
                </td>
                <td width="40%" align="right">
                [followAssetAllocationOnRiskProfile]
                </td>
            </tr>
            <tr class="evenRowStyle">
                <td width="60%">
                Premium Type
                </td>
                <td width="40%" align="right">
                [premium]
                </td>
            </tr>
	        [PremiumMode]
            <tr class="evenRowStyle">
                <td width="60%">
                Premium Amount (SGD)
                </td>
                <td width="40%" align="right">
                $[premiumAmount]
                </td>
            </tr>
            <tr class="oddRowStyle">
                <td width="60%">
                Allocation Total Percentage
                </td>
                <td width="40%" align="right">
                [AllocationTotalPercentage]
                </td>
            </tr>
            <tr class="evenRowStyle">
                <td width="60%">
                Allocation Total (SGD)
                </td>
                <td width="40%" align="right">
                $[AllocationTotal]
                </td>
            </tr>
        </table>
         <br />        
            <table width="100%" cellpadding = "2" cellspacing = "0">
                <tr valign="top" class="headerStyle">
                    <td width="30%" align="center">Assets Class</td>
                    <td width="30%" align="center">Funds</td>
                    <td width="20%" align="center">Allocation (%)</td>
                    <td width="20%" align="center">Allocation (SGD)</td>
                </tr>     
                [portfolioModel]
            </table>
</td>
    </tr>
</table>